body{
    text-align: right;
    background-image: url("teacher-and-student-background.jpg");
}
#logo{
    width: 40px;
    height: 40px;
}
#title{
    color: black;

}
#add_room{
    background-color:floralwhite;
    border-style: ridge;
    border-radius: 20px;
    border-width: 10px;
}
#room_title{
    background-color: lightgreen;
    border-radius: 20px;
    border-style: ridge;
}
#user_name{
    color: black;
}
#output{
    background-color: lightsteelblue;
    color: mediumblue;
    font-size: 20px;
    border-radius: 20px;
}